/* Write your CSS here */
.listItems-teamCard {
  height: 120px;
  width: 350px;
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 20px;
  margin: 10px;
}
.teamCard-Img {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.link {
  display: flex;

  justify-content: center;
  flex-direction: row;
}
.name-para {
  font-family: 'bree serif';
  font-weight: 400;
  font-size: 20px;
  color: #ffff;
}
