/* Write your CSS here */
.bg-co {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bg-co1 {
  display: flex;
  flex-direction: column;
}
.ipllogo-img {
  height: 120px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.heading-1 {
  font-family: 'bree serif';
  font-size: 50px;
  font-weight: bold;
  color: #ffff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.unorderList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.loader-co {
  display: flex;
  justify-content: center;
  align-items: center;
}
